# http://nedbatchelder.com/code/coverage/config.html

[report]
include = django_custom_500/*

exclude_lines =
    # Don't complain if non-runnable code isn't run:
    if __name__ == "__main__":

    try:
        from django.apps import AppConfig
    except ImportError:
        AppConfig = object
